<% content_for :title do %>: <%=h @post.title %><% end %>

<%= render :partial => @post %>

<div class="story">
  <h2 id="comments">Comments<span>&nbsp;</span></h2>

  <% if @post.discussions.size > 0 %>
    <%= render :partial => 'discussions/discussion', :collection => @post.discussions %>
  <% else %>
    <p>Nobody has said anything yet.</p>
  <% end %>
</div>

<div class="story">
  <h2>Wax poetic<span>&nbsp;</span></h2>

  <p><%= link_to 'Textile', 'http://www.textism.com/tools/textile/' %> is allowed.</p>

  <% tpl_form_for (discussion = @post.discussions.build), :action => discussions_path do |f| %>
    <%= render :partial => 'discussions/form', :locals => {:f => f, :discussion => discussion} %>
    <% # TODO: add "remember me" checkbox %>
  <% end %>
</div>