<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>freethinking.isdangero.us<%= yield :title %></title>
	
	<%= auto_discovery_link_tag :atom, 'http://feeds2.feedburner.com/freethinkingisdangerous' %>
	
	<% require_stylesheet 'global' %>
	<% require_stylesheet 'public' %>
	<%= render :partial => 'layouts/header_tags' %>
	<link rel="icon" type="image/gif" href="images/favicon.gif"/>
	
</head>

<body>
	
  <div class="header">
    <a href="<%= url_for '/' %>"><h1>
      <span>freethinking.isdangero.us</span>
    </h1></a>
  </div>
  <div class="dots">
    <div class="copy">
      <%= yield %>
      <%= yield :footer %>
    </div>
  </div>
  <p class="copyright">
    &#169; 2009 <a href="mailto:chriswcarpenter@gmail.com">Christopher Carpenter</a> |
    <%= link_to 'Feed Me', 'http://feeds2.feedburner.com/freethinkingisdangerous' %>
  </p>

	
	<!--Reinvigorate tracking script -->
	<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
	re_("02617-pcwk66938h");
	</script>

</body>
</html>
